Header set "Access-Control-Allow-Origin" "*" Header set
"Access-Control-Allow-Methods" "GET, POST, OPTIONS, PUT, DELETE" Header set
"Access-Control-Allow-Headers" "Content-Type, Authorization, X-Requested-With" #
Cambiar el color de fondo de la barra de estado Header set "X-UA-Compatible"
"IE=edge" Header set "Content-Type" "text/html; charset=utf-8" Header set
"Cache-Control" "no-cache, no-store, must-revalidate" Header set "Pragma"
"no-cache" Header set "Expires" "0"

<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
/>

<style>
  body {
    height: 100vh;
    width: 100vw;
    background-color: #0000ff;
  }
</style>
